Repository ZachG1235/VicM, pull requests merged in 2024-11, with the labels that each got.

#2 Added README
  README.md
  VicM/Packages/manifest.json
  VicM/Packages/packages-lock.json
  VicM/ProjectSettings/ProjectVersion.txt
  VicM/ProjectSettings/ShaderGraphSettings.asset
Labels: documentation

#6 changing readme
  README.md
Labels: documentation

#19 Damage and attack dev
  VicM/Assets/Animation/Fry/FryController.controller
  VicM/Assets/Animation/Fry/Fry_Attack.anim
  VicM/Assets/Animation/Fry/Fry_Attack.anim.meta
  VicM/Assets/Animation/Fry/Fry_Attacked.anim
  VicM/Assets/Animation/Fry/Fry_Attacked.anim.meta
  VicM/Assets/Entrance.cs
  VicM/Assets/Entrance.cs.meta
  VicM/Assets/GameManager.cs
  VicM/Assets/GameManager.cs.meta
  VicM/Assets/Prefabs/HealthBar.prefab
  VicM/Assets/Prefabs/HealthBar.prefab.meta
  VicM/Assets/Prefabs/SoggyFri.prefab
  VicM/Assets/Prefabs/VicM.prefab
  VicM/Assets/Prefabs/chopsticks.prefab
  VicM/Assets/Prefabs/chopsticks.prefab.meta
  VicM/Assets/Scenes/Dungeon 1/Dungeon1_1-Start.unity
  VicM/Assets/Scenes/Hub.unity
  VicM/Assets/Scripts/CameraMovement.cs
  VicM/Assets/Scripts/Enemy.cs
  VicM/Assets/Scripts/HealthBar.cs
  VicM/Assets/Scripts/HealthBar.cs.meta
  VicM/Assets/Scripts/VicM/VicMMovement.cs
  VicM/Assets/Scripts/VicM/Weapon.cs
  VicM/Assets/Scripts/VicM/WeaponManager.cs
  VicM/Assets/Scripts/VicM/WeaponManager.cs.meta
  VicM/Assets/Scripts/Weapon.cs
  VicM/Assets/Scripts/Weapon.cs.meta
  VicM/ProjectSettings/EditorBuildSettings.asset
  VicM/ProjectSettings/TagManager.asset
Labels: level design, player mechanics, enemy

#22 A lot
  VicM/Assets/Animation/BurgerBoss.meta
  VicM/Assets/Animation/BurgerBoss/BurgerBossController.controller
  VicM/Assets/Animation/BurgerBoss/BurgerBossController.controller.meta
  VicM/Assets/Animation/BurgerBoss/BurgerBoss_Attack.anim
  VicM/Assets/Animation/BurgerBoss/BurgerBoss_Attack.anim.meta
  VicM/Assets/Animation/BurgerBoss/BurgerBoss_Idle.anim
  VicM/Assets/Animation/BurgerBoss/BurgerBoss_Idle.anim.meta
  VicM/Assets/Animation/BurgerBoss/BurgerBoss_Moving.anim
  VicM/Assets/Animation/BurgerBoss/BurgerBoss_Moving.anim.meta
  VicM/Assets/Prefabs/BurgerBoss.prefab
  VicM/Assets/Prefabs/BurgerBoss.prefab.meta
  VicM/Assets/Prefabs/FullHeartPrefab.prefab
  VicM/Assets/Prefabs/FullHeartUIPrefab.prefab
  VicM/Assets/Prefabs/FullHeartUIPrefab.prefab.meta
  VicM/Assets/Prefabs/HalfHeartUIPrefab.prefab
  VicM/Assets/Prefabs/HalfHeartUIPrefab.prefab.meta
  VicM/Assets/Prefabs/SoggyFri.prefab
  VicM/Assets/Prefabs/VicM.prefab
  VicM/Assets/Scenes/Hub.unity
  VicM/Assets/Scripts/Enemy.meta
  VicM/Assets/Scripts/Enemy/BurgerBoss.cs
  VicM/Assets/Scripts/Enemy/BurgerBoss.cs.meta
  VicM/Assets/Scripts/Enemy/Enemy.cs
  VicM/Assets/Scripts/Enemy/Enemy.cs.meta
  VicM/Assets/Scripts/Enemy/WormFry.cs
  VicM/Assets/Scripts/Enemy/WormFry.cs.meta
  VicM/Assets/Scripts/Entrance.cs
  VicM/Assets/Scripts/Entrance.cs.meta
  VicM/Assets/Scripts/GameManager.cs
  VicM/Assets/Scripts/GameManager.cs.meta
  VicM/Assets/Scripts/VicM/Health.cs
  VicM/Assets/Scripts/VicM/Health.cs.meta
  VicM/Assets/Scripts/VicM/VicMMovement.cs
  VicM/Assets/Scripts/Weapon.cs
  VicM/Assets/Sprites/Enemies/Boss/BurgerBoss.psb
  VicM/Assets/Sprites/Enemies/Boss/BurgerBoss.psb.meta
  VicM/Assets/Sprites/Enemies/Boss/BurgerBoss.psd.meta
  VicM/ProjectSettings/TagManager.asset
Labels: player mechanics, enemy
